<div class="modal-container" id="modal-contain">
  <div class="modal" id="emp-modal">
    <a href="/"><span id="close-modal-btn">&#88</span></a>
    <h2>Add Employee</h2>
    <div class="form">
      {{#each data}}
      <form action="/edit/{{id}}" method="POST" class="modal-form" novalidate>
        {{> form}}
      </form>
      {{/each}}
    </div>

  </div>
</div>