<div class="modal-container" id="modal-contain">
  <div class="modal" id="emp-modal">
    <a href="/"><span id="close-modal-btn">&#88</span></a>
    <h2>Add Employee</h2>
    <div class="form">
      <form action="/new" method="POST" class="modal-form" novalidate>
        <div class="form-val">
          <label for="first-name" class="form-label">First Name</label>
          <input
            type="text"
            class="form-input"
            name="first_name"
            id="first-name"
          />
        </div>
        <br />
        <div class="form-val">
          <label for="last-name" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-input"
            name="last_name"
            id="last-name"
          />
        </div>
        <br />
        <div class="form-val">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-input" name="email" id="email" />
        </div>
        <br />
        <div class="form-val">
          <label for="phone" class="form-label">Phone #</label>
          <input type="text" class="form-input" name="phone" id="phone" />
        </div>
        <br />
        <div class="form-val">
          <label for="department" class="form-label">Department</label>
          <input
            type="text"
            class="form-input"
            name="department"
            id="department"
          />
        </div>
        <br />
        <div class="form-btn">
          <button id="form-submit">Submit</button>
        </div>
      </form>
    </div>

  </div>
</div>