<div class="show-window">
    <div class="show-container">

        <div class="show-name-data">
            <h1><span>ID: </span>Employee</h1>
        </div>
        <div class="show-content">
            <div class="show-title">
                <h3 class="show-dep">Department</h3>
                <h4 class="show-info">Phone</h4>
                <h4 class="show-info">Email</h4>

            </div>
            <div class="show-data">
                <h3 class="show-dep">Engineering</h3>
                <h4 class="show-info">555-555-5555</h4>
                <h4 class="show-info">employee@email.com</h4>
            </div>
        </div>
        <div class="show-action">
            <a href='/'><button id="show-index">Back to Index</button></a>
            <button id="show-delete">Delete Employee</button>
        </div>

    </div>
</div>