* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    font-family: 'Readex Pro', sans-serif;
    font-weight: 600;
  }

  .main-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 85%;
  }

/* NAVBAR */

  #nav-icon{
    width: 2em;
  }

 #title {
    position: absolute;
    top: 30px;
    left: 60px;

 }
  
  .nav {
    height: 80px;
    width: 100%;
    background-color: #ae0e0e;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    float: right;
    font-size: 15px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

  #empSearch {
    width: 15em;
    font-size: 11px;
    position: absolute;
    top: 38%;
    left: 68%;
    padding: .35em;
  }

  #empSrchBtn {
    position: absolute;
    top: 35%;
    left: 80%;
    background-color: white;
    border-radius: 5px;
  }

  #empSrchBtn:hover {
    color: black;
    
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }




    /* MAIN */
table {
  max-width: 90%;
}


table, th {
  margin-top: 10em;
  border-collapse: collapse;
  padding: .5em;
  border: 0; 
}


 td {
  padding: 1em;
  border-top: 1px black solid;
  
}

button {
  padding: .25em;
  width: 5em; 
  background-color: #c3121262;
  border: 3.5px #ae0e0e solid;
  font-weight: 500;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 3px;
} 

button:hover {
  transform: translateY(-1px);
  background-color: #ae0e0e;
  border: 3.5px #e13131a9 solid;
  color: #eee;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: ease-in .15s;
}




  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ae0e0e;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 72px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(25vh - 50px);
      overflow-y: auto;
      border-radius: 1px;
    }

    #empSearch {
      font-size: 13px;
      position: absolute;
      top: 70%;
      left: 2.5%;
    }
  
    #empSrchBtn {
      padding: .4em;
      position: absolute;
      top: 68%;
      left: 55%;
      background-color: white;
    }

    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 20%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
  }

